span{
    cursor: pointer;
}

header{
    position : relative;
}

header > button {
    position : absolute;
    top : 50%;
    right : 10px;
    transform : translateY(-50%);
}

.bg-blue{
    background : #0f2c67;
}

.bg-yellow {
    background : #f3950d;
}